@CHARSET "ISO-8859-1";

label.attribute {
	color: gray !important;
	font-weight: bolder;
}

label.search-label {
	font-weight: bolder;
	color: gray;
}

table thead tr.headerRow {
	background-color: #0088cc !important;
}

table thead tr.headerRow th {
	font-weight: bolder;
	color: white !important;
}

table thead tr.headerRow th a {
	font-weight: bolder;
	color: white !important;
}

.loading {
	background-image: url("../images/loading.gif") !important;
	background-repeat: no-repeat;
	
	z-index:40;
	filter: alpha(opacity = 50); /* For IE8 and earlier */
	height: 100%;
	width: 100%;
	min-height: 105px;
	min-width: 105px;
	margin-left: 40%;
	margin-top: :60%;
	opacity : 0.5;
}
.footer{
	background-color: blue;
	font-size: xx-large !important;
	background-color: black !important;
}